
/***********************************
*		General
************************************/

body {
}

.default_container{
	/*width:76%;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 20px;
	margin-bottom: 40px;
	*/

	/*font-family: Verdana, Helvetica, sans-serif;
	font-size:14px;
	color:4C4C4D;*/

	font-family: 'Lato', 'sans-serif';
	margin-bottom:10px;
}

.center{
	text-align: center;
}

.clear {
  height:1em;
  clear:both;
}

.content {
	margin-left:10px;
	margin-right:10px;
}

/***********************************
*		Index
************************************/
#index_background_img { }

/*
#bio_social_links {
		text-align: left;
	}
*/

.bio_social_icon {
	height:30px;
}


/***********************************
*		Responsive
************************************/

/* Large desktop */
@media (min-width: 1200px) {
	
	/* General */
	/* Index */
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	/* General */
	/* Index */
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	/* General */
	/* Index */
	
	/*
	#bio_social_links {
		text-align: center;
	}
	*/
}

/* Landscape phones and down */
@media (max-width: 480px) {
	
	/* General */

	body {
		margin-left: 1%;
		margin-right: 1%;
	}

	/* Index */

	/*
	#bio_social_links {
		text-align: left;
	}
	*/
}




