<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Bootstrap -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    	<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
    	<title>amartyasengupta</title>
    	<script type="text/javascript" src="//use.typekit.net/eba8mbj.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- Google Analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35201804-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="default_container">
			<div class="hero-unit">
				<div class="row-fluid">
					<div class="span5">
						<div>
							<h1>Hello, world!</h1>
							<h2>
								<small>My name is Amartya Sengupta.  Thanks for checking me out!</small>
							</h2>
						</div>
						<div id="bio_social_links">
							<span>
								<a href="https://www.facebook.com/amartya.sengupta" target="_blank">
									<img src="/static/img/Facebook.png"></a>
							</span>
							<span>
								<a href="https://twitter.com/amartyasengupta" target="_blank">
									<img src="/static/img/Twitter.png"></a>
							</span>
							<span>
								<a href="https://www.linkedin.com/in/amartyasengupta" target="_blank">
									<img src="/static/img/LinkedIn.png"></a>
							</span>
						</div>
					</div>
					<div class="span7">
						<div class="row-fluid">
							<div class="span1"></div>
							<div class="span11 center">
								<img class="img-polaroid" src="/static/img/profile.jpeg">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<h3>A little about me</h3>
					<ul>
						<li>Born: H-town '87</li>
						<li>Harvard 2010 in Applied Math - Economics, Computer Science</li>
						<li>Product manager at <a href="http://www.jana.com/" target="_blank">Jana</a>, an awesome tech startup in Boston</li>
						<li>Love playing/watching/talking everything sport, especially soccer</li>
						<li>[first][dot][last]@post.harvard.edu</li>
					</ul>
				</div>
				<div class="span6">
					<h3>My latest projects</h3>
					<ul>
						<li><a href="/quobit/">quobit</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</body>
</html>